/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    top:10%;
    height:50px;                   /* text area height */
    width:100%;                   /* text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
    }
}

h1 {
    font-size:50px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
p {
    font-size: 20pt;
}
.to-list{
    border:1px solid;
    font-size: 20pt;
}
.info-img {
    width:100%;
    padding:1%;
}
.item-image img {
    height:140px;
    float:left;
    margin:15px;
}
.item-desc{
    float:left;
    margin-top:10px;
}
.outer {
    height: 170px;
    border: 1px solid;
    margin:5px;
}

.content {
    width:99%;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

.list-item-container {
  line-height: 1;
  padding: 15px 0px 15px 15px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}
.desc {
  line-height: 1.2;
  font-size: 13px;
}
